<br/>
<div class="matcontainer">
    <mat-grid-list cols="3" rowHeight="170px" gutterSize="50px">
        <mat-grid-tile>
            <button mat-button>Itinerary 1</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>Itinerary 2</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>Itinerary 3</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>Itinerary 4</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>Itinerary 5</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>Itinerary 6</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>Itinerary 7</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>Itinerary 8</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>Itinerary 9</button>
        </mat-grid-tile>
      </mat-grid-list>
</div>

  