<footer class="site-footer">
        <div>
            <h6>About</h6>
            <h3>Day Trippin' is a site specially designed to help take the stress and strain away from planning everyday trips or your vacations.......</h3> <!--add contact and link page-->
            <hr>
            <br>
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Day Trippin'</a>.
          </p>
        </div>

        <div>
          <ul class="social-icons">
            <li><a href='#'><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a></li>
            <li><a href='#'><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a></li><!--Change icons for different social media/pages-->
            <li><a href='#'><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a></li>
            <li><a href='#'><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a></li> 
          </ul>
        </div>
</footer>