<footer class="site-footer">
        <div>
            <br>
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Day Trippin'</a>.
          </p>
        </div>

        <div>
          <ul class="social-icons">
            <li><a href='#'><img src="https://img.icons8.com/color/24/000000/facebook-new.png"/></a></li>
            <li><a href='#'><img src="https://img.icons8.com/color/24/000000/twitter-squared.png"/></a></li><!--Change icons for different social media/pages-->
            <li><a href='#'><img src="https://img.icons8.com/color/24/000000/youtube-play.png"/></a></li>
          </ul>
        </div>
</footer>