<div class = "list-container1">
  <mat-form-field floatLabel="auto" appearance="outline">
    <mat-label>Place to Search</mat-label>
      <input matInput placeholder="Place" [(ngModel)]="placeType">    
  </mat-form-field>
  <mat-form-field floatLabel="auto" appearance="outline">
    <mat-label>City to Search</mat-label>
      <input matInput placeholder="Location" [(ngModel)]="location">    
  </mat-form-field>
  <button mat-raised-button [disabled]="!location" (click)="search()">Submit</button>
</div>
<div class="container">
  <div class="list-container">
    <div class="places-container column-container">
      <mat-list class="list"
          cdkDropList
          #placeSearch="cdkDropList"
          [cdkDropListData]="places.results"
          [cdkDropListConnectedTo]="[itinerary]"
          (cdkDropListDropped)="onDrop($event)">

        <h2>Search Results</h2>
        <mat-card *ngFor="let place of places.results" cdkDrag>
          <mat-card-header>
            <mat-card-title>{{place.name}}</mat-card-title>
            <mat-card-subtitle>{{place.formatted_address}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-list>
    </div>

  <div class="done-container column-container">
      <mat-list class="list"
          cdkDropList
          #itinerary="cdkDropList"
          [cdkDropListData]="selected"
          [cdkDropListConnectedTo]="placeSearch"
          (cdkDropListDropped)="onDrop($event)">
        
          <h2>My Itinerary</h2>
        <mat-card *ngFor="let select of selected" cdkDrag>
          <mat-card-header> 
            <mat-card-title>{{select.name}}</mat-card-title>
            <mat-card-subtitle>{{select.formatted_address}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            Rating: {{select.rating}}  
            Price Level: {{select.price_level}}
          </mat-card-content>
        </mat-card>
    </mat-list>
  </div>
  <div class="column-container1"> 
      <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Itinerary Name</mat-label>
        <input 
          [(ngModel)]="itineraryName" 
          matInput placeholder="Itinerary Name">
      </mat-form-field>
        <button type="submit" mat-raised-button (click)="saveItinerary()" [disabled]="isDisabled" >Save</button>
  </div>

      <div class="column-container1">     
        <mat-form-field floatLabel="auto" appearance="outline" class="input">
          <mat-label>Select an Itinerary</mat-label>
          <mat-select class="input" [(ngModel)]="itinerarySelected">
            <mat-option *ngFor="let x of itineraries" value="{{x.id}}">{{x.itineraryName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="loadItinerary()">Load</button>
        <button mat-raised-button (click)="clearItinerary()">Clear</button>
        <button mat-raised-button *ngIf="showDeleteButton" (click)="deleteItinerary()">Delete</button>
        <button mat-raised-button *ngIf="showUpdateButton" (click)="updateItinerary()">Update</button>
      </div>  
  </div>
</div>
