<main-nav></main-nav>

<div class="findplccontainer">

  <div class="searchcontainer" fxLayout="row">
    <div fxFlex="100%">
      <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Place to Search</mat-label>
          <input matInput placeholder="Place" [(ngModel)]="placeType">    
      </mat-form-field>
      <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>City to Search</mat-label>
          <input matInput placeholder="Location" [(ngModel)]="location">    
      </mat-form-field>
      <button mat-raised-button [disabled]="!location" (click)="search()" class="submitbtn"><mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
        Search</button>
    </div>
  </div>
  
  <div class="container" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
    <div class="resultscontainer" fxFlex="25%">
      <mat-list class="list"
          cdkDropList
          #placeSearch="cdkDropList"
          [cdkDropListData]="places.results"
          [cdkDropListConnectedTo]="[itinerary]"
          (cdkDropListDropped)="onDrop($event)">

          <h2>Search Results</h2>
        <mat-card *ngFor="let place of places.results" cdkDrag>
          <mat-card-header>
            <mat-card-title>{{place.name}}</mat-card-title>
            <mat-card-subtitle>{{place.formatted_address}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-list>  
    </div>

    <div class="itinerarycontainer" fxFlex="25%">
      <mat-list class="list"
            cdkDropList
            #itinerary="cdkDropList"
            [cdkDropListData]="selected"
            [cdkDropListConnectedTo]="placeSearch"
            (cdkDropListDropped)="onDrop($event)">
          
            <h2>My Itinerary</h2>
          <mat-card *ngFor="let select of selected" cdkDrag>
            <mat-card-header> 
              <mat-card-title>{{select.name}}</mat-card-title>
              <mat-card-subtitle>{{select.formatted_address}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              Rating: {{select.rating}}  
              &nbsp;
              &nbsp;
              Price Level: {{select.price_level}}
            </mat-card-content>
          </mat-card>
      </mat-list>
    </div>

    <div class="savecontainer" fxFlex="20%" fxLayoutAlign="center">
      <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Itinerary Name</mat-label>
        <input 
          [(ngModel)]="itineraryName" 
          matInput placeholder="Itinerary Name">
      </mat-form-field>
        <button type="submit" mat-raised-button (click)="saveItinerary()" [disabled]="isDisabled"><mat-icon aria-hidden="false" aria-label="Example home icon">save_alt</mat-icon> Save</button>
    </div>  

    <div class="loadcontainer" fxFlex="20%" fxLayoutAlign="center">
      <mat-form-field floatLabel="auto" appearance="outline" class="input">
        <mat-label>Select an Itinerary</mat-label>
        <mat-select class="input" [(ngModel)]="itinerarySelected">
          <mat-option *ngFor='let x of itineraries' value='{{x.id}}'>{{x.itineraryName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div> 

    <div class="loadbuttons" fxFlex="15%" fxLayoutAlign="center">
      <div flexLayout="column">
        <button mat-raised-button class="loadbtn" (click)="loadItinerary()"><mat-icon aria-hidden="false" aria-label="Example home icon">arrow_upward</mat-icon> Load</button>
        <button mat-raised-button class="loadbtn" (click)="clearItinerary()"><mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon> Clear</button>
        <button mat-raised-button *ngIf="showDeleteButton" class="loadbtn" (click)="deleteItinerary()"><mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon> Delete</button>
        <button mat-raised-button *ngIf="showUpdateButton" class="loadbtn" (click)="updateItinerary()"><mat-icon aria-hidden="false" aria-label="Example home icon">check</mat-icon> Update</button>
      </div>
    </div>
  
  </div>

