<mat-grid-list cols='3' rowHeight='6:3'>
    <mat-grid-tile>
<mat-card class='firstimg'>
    <img mat-card-image src='https://images.unsplash.com/photo-1546744729-7049d0610887?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60'>
</mat-card>
</mat-grid-tile>
<br>
<br>
<br>
<mat-grid-tile>
<mat-card class='secondimg'>
    <img mat-card-image src='https://images.unsplash.com/photo-1570732092121-e9bead1ca013?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60'>
</mat-card>
</mat-grid-tile>

<mat-grid-tile class='login'>
    <app-login></app-login>
    <!-- <app-signup></app-signup> -->
</mat-grid-tile>

<br>
<br>
<br>
<mat-grid-tile>
<mat-card class='thirdimg'>
    <img mat-card-image src='https://images.unsplash.com/photo-1517315403381-a12569a9da85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60'>
</mat-card>
</mat-grid-tile>

</mat-grid-list>

