<mat-grid-list cols="3" rowHeight="300px">

    <mat-grid-tile class='firstimgtile'>
        <mat-card class='firstimg'>
            <img mat-card-image class="image" src='https://images.pexels.com/photos/876218/pexels-photo-876218.jpeg?cs=srgb&dl=architecture-benches-buildings-business-876218.jpg&fm=jpg'>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="logo">
            <img mat-card-image class="logoimg" src="../assets/DayTrippinLogo_Lobster.png">
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile class='login' rowspan='2'>
        <div *ngIf = 'toggle'><app-login></app-login></div>
       <div *ngIf = '!toggle'><app-signup></app-signup></div>
    </mat-grid-tile>

    <mat-grid-tile class='secondimgtile'>
        <mat-card class='secondimg'>
            <img mat-card-image class="image" src='https://images.pexels.com/photos/723031/pexels-photo-723031.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class='thirdimgtile'>
        <mat-card class='thirdimg'>
            <img mat-card-image class="image" src='https://images.pexels.com/photos/69903/pexels-photo-69903.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>