<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

<mat-card class="box">
    <mat-card-header>
    <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form">
    <mat-card-content>
        <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </mat-card-content>
    <button mat-stroked-button color="accent" class="btn-block" (click)=LoginUser()>Log in</button>
    <button mat-stroked-button color="accent" class="btn-block" (click)=showRegister()>Register</button>
    </form>
</mat-card>

</div>