<main-nav></main-nav>
<br/>
<div class="matcontainer">
    <mat-grid-list cols="3" rowHeight="170px" gutterSize="50px">
        <mat-grid-tile>
            <button mat-button>
                User 1
                <br/>
                <p style="font-size:15px">Itinerary 1</p>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>
                User 2
                <br/>
                <p style="font-size:15px">Itinerary 2</p>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>
                User 3
                <br/>
                <p style="font-size:15px">Itinerary 3</p>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>
                User 4
                <br/>
                <p style="font-size:15px">Itinerary 4</p>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>
                User 5
                <br/>
                <p style="font-size:15px">Itinerary 5</p>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>
                User 6
                <br/>
                <p style="font-size:15px">Itinerary 6</p>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>
                User 7
                <br/>
                <p style="font-size:15px">Itinerary 7</p>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>
                User 8
                <br/>
                <p style="font-size:15px">Itinerary 8</p>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button>
                User 9
                <br/>
                <p style="font-size:15px">Itinerary 9</p>
            </button>
        </mat-grid-tile>
      </mat-grid-list>
</div>
