mat-grid-tile {
    background: transparent; 
  }

.matcontainer {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

button {
    text-align: center;
    background: #da6650;
    border-radius: 10px;
    height: 160px;
    width: 300px;
    font-size: 25px;
    vertical-align: middle;
}

p {
    text-align: center;
}

button:hover{
    background-color: #e07d6a;
    transition: all 0.3s ease-in-out;
  }