<div>
    <ul>
<li><mat-form-field appearance='fill'>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]='username'/>
</mat-form-field></li>
<li><mat-form-field appearance='fill'>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]='password'/>
</mat-form-field></li>
<li><mat-form-field appearance='fill'>
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]='firstname'/>
</mat-form-field></li>
<li><mat-form-field appearance='fill'>
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]='lastname'/>
</mat-form-field></li>
<li><mat-form-field appearance='fill'>
    <mat-label>E-mail Address</mat-label>
    <input matInput [(ngModel)]='email'/>
</mat-form-field></li>
<li><mat-form-field appearance='fill'>
    <mat-label>Role</mat-label>
    <input matInput [(ngModel)]='role'/>
</mat-form-field></li>
<button type='submit' class='btn-primary' (click)='SignupUser()'>Sign Up</button>
</ul>
</div>