<div>
    <ul>
<li><mat-form-field appearance='fill'>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]='username'/>
</mat-form-field></li>
<li><mat-form-field appearance='fill'>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]='password'/>
</mat-form-field></li>
<li><mat-form-field appearance='fill'>
    <mat-label>firstname</mat-label>
    <input matInput [(ngModel)]='firstname'/>
</mat-form-field></li>
<li><mat-form-field appearance='fill'>
    <mat-label>lastname</mat-label>
    <input matInput [(ngModel)]='lastname'/>
</mat-form-field></li>
<li><mat-form-field appearance='fill'>
    <mat-label>email</mat-label>
    <input matInput [(ngModel)]='email'/>
</mat-form-field></li>
<li><mat-form-field appearance='fill'>
    <mat-label>role</mat-label>
    <input matInput [(ngModel)]='role'/>
</mat-form-field></li>
<button type='submit' class='btn-primary' (click)='SignupUser()'>Sign up</button>
</ul>
</div>